h2#next Next Meeting:
dl
  dt When
  dd#when 2010-09-16 18:00:00
  dt Who:
  dd
    dl
      dt#speaker1 Nathanael Shergold
      dd#topic1 YUI3 and custom components
      dt#speaker2 Steve Haffenden
      dd#topic2 Types in JavaScript
      dt#speaker3 &ldquo;Mysterious Guest&rdquo;
      dd#topic3 Sammy.js
  dd
    dt Where:
    dd
      a#where(href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=185+Sussex+Street,+Atlassian&sll=-33.867139,151.207114&sspn=0.076827,0.135698&ie=UTF8&hq=185+Sussex+Street,+Atlassian&hnear=&t=h&ll=-33.870416,151.204062&spn=0.009603,0.016962&z=17&iwloc=A") 185 Sussex Street, Atlassian
