!!! 5
%html
  %head
    %title SydJS - JavaScript in Sydney has a new home
    %link{ rel: 'stylesheet', href: '/public/css/style.css' }
    %script{ src: '/public/js/raphael.min.js' }
    %script{ src: '/public/js/logo.js' }
  %body
    #header
      %h1
        %a{ href: '/' }  SydJS
    #main
      != body
