!!! 5
html(lang="en-au")
  head
    meta(charset="utf-8")
    title SydJS &mdash; JavaScript in Sydney has a new home
    link(rel='stylesheet', href='/public/css/style.css')
  body
    #content
      h1
        a(href='/')  SydJS
      !=body

  script document.body.className = "js";
  script(src='/public/js/raphael.js')
  script(src='/public/js/museo.js')
  script(src='/public/js/syd.js')
