<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SydJS &mdash; JavaScript in Sydney has a new home</title>
        <link type="text/css" rel="stylesheet" href="style.css">
    </head>
    <body class="raphael no-js">
        <div id="content" class="vevent">
            <h1 class="summary">Sydney JavaScript Group</h1>
            <h2 id="next">Next Meeting:</h2>
            <dl>
                <dt>When:</dt>
                <dd id="when" class="dtstart" class="value" title="{{datevalue}}">{{datetime}}</dd>
                <dt>Who:</dt>
                <dd>
                    <dl>
                    {{#presentations}}
                        <dt id="speaker{{n}}"><a href="{{speakerurl}}">{{speaker}}</a></dt>
                        <dd id="topic{{n}}"><a href="{{topicurl}}">{{topic}}</a></dd>
                    {{/presentations}}
                    </dl>
                </dd>
                <dt>Where:</dt>
                <dd><a class="location" href="https://maps.google.com/maps?q=341+George+Street,+Sydney&amp;hl=en&amp;ll=-33.867262,151.206915&amp;spn=0.004659,0.009613&amp;sll=-33.869471,151.203697&amp;sspn=0.009318,0.019226&amp;t=h&amp;hnear=341+George+St,+Sydney+New+South+Wales+2000,+Australia&amp;z=17" id="where">Level 6, 341 George St, Atlassian</a></dd>
                <dt>Register:</dt>
                <dd><a class="url" href="http://tixi.com.au/sydjs" id="register">Attend this meeting</a></dd>
            </dl>
            <h2 id="group">The Group</h2>
            <dl>
                <dt>Twitter:</dt>
                <dd>
                    <a href="http://twitter.com/sydjs" id="twitter">Follow Us</a>
                </dd>
                <dt>Mailing list:</dt>
                <dd>
                    <a class="contact" href="mailto:sydjs@librelist.com" id="join">Join Mailing List</a>
                </dd>
                <dd>
                    <a href="http://librelist.com/browser/sydjs/" id="archive">Browse Archives</a>
                </dd>
                <dt>Peer Mentoring</dt>
                <dd>
                    <a href="https://github.com/sydjs/sydjs/wiki/Peer-Mentoring" id="mentoring">Peer Mentoring</a>
                </dd>
            </dl>
        </div>
        <script>document.body.className = document.body.className.replace(/\bno-js\b/,'js');</script>
        <script src="libs.js"></script>
        <script src="syd.js"></script>
    </body>
</html>
