<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SydJS &mdash; JavaScript in Sydney has a new home</title>
        <link type="text/css" rel="stylesheet" href="style.css">
    </head>
    <body class="no-raphael no-js">
        <div id="content" class="vevent">
            <h1 class="summary">Sydney JavaScript Group</h1>
            <h2 id="next">Next Meeting:</h2>
            <dl>
                <dt>When:</dt>
                <dd id="when" class="dtstart" class="value" title="{{datevalue}}">{{datetime}}</dd>
                <dt>Who:</dt>
                <dd>
                    <dl>
                    {{templatestart}}
                        <dt id="speaker{{n}}">{{speaker}}</dt>
                        <dd id="topic{{n}}">{{topic}}</dd>
                    {{templateend}}
                    </dl>
                </dd>
                <dt>Where:</dt>
                <dd><a class="location" href="http://maps.google.com/maps?cid=14330984000916096457" id="where">185 Sussex Street, Atlassian</a></dd>
                <dt>Register:</dt>
                <dd><a class="url" href="http://tixi.com.au/sydjs" id="register">Attend this meeting</a></dd>
            </dl>
            <h2 id="group">The Group</h2>
            <dl>
                <dt>Twitter:</dt>
                <dd>
                    <a href="http://twitter.com/sydjs" id="twitter">Follow Us</a>
                </dd>
                <dt>Mailing list:</dt>
                <dd>
                    <a class="contact" href="mailto:sydjs@librelist.com" id="join">Join Mailing List</a>
                </dd>
                <dd>
                    <a href="http://librelist.com/browser/sydjs/" id="archive">Browse Archives</a>
                </dd>
            </dl>
        </div>
		<script>document.body.className = document.body.className.replace(/\bno-js\b/,'js');</script>
        <script src="raphael.js"></script>
        <script src="museo.js"></script>
        <script src="superagent.min.js"></script>
        <script src="syd.js"></script>
    </body>
</html>
